<template>
  <article class="post">
    <header>
      <div class="post-title">
        <h1>{{post.title}}</h1>
        <nuxt-link to="/">
          <i class="el-icon-back"></i>
        </nuxt-link>
      </div>
      <div class="post-info">
        <small>
          <i class="el-icon-time"></i>
          {{ post.date | date }}
        </small>
        <small>
          <i class="el-icon-view"></i>
          {{post.views}}
        </small>
      </div>
      <div class="post-image">
        <img 
          :src="post.imageUrl" 
          alt="cool pikcha"
        >
      </div>
    </header>
    <main class="post-content">
      <vue-markdown>{{post.text}}</vue-markdown>  
    </main>
    <footer>
      <app-comment-form
        v-if="canAddComent"
        @created="createCommentHandler"
        :postId="post._id"
      ></app-comment-form>

      <div class="comments" v-if="post.comments.length">
        <app-comment
          v-for="comment in post.comments"
          :key="comment._id"
          :comment="comment"
        />
      </div>
      <div class="text-center" v-else>
        Комментариев нет
      </div>
    </footer>
  </article>
</template>

<script>
import AppComment from "@/components/main/Comment"
import AppCommentForm from "@/components/main/CommentForm"
export default {
  components: {
    AppComment, AppCommentForm
  },
  head () {
    return {
      title: `${this.post.title} | ${process.env.appName}`,
      meta: [
      { hid: `postd: ${this.post.title}_${this.post._id}`, name: 'description', content: this.post.title },
      { hid: `postk: ${this.post.title}_${this.post._id}`, name: 'keywords', content: 'пост, блог, джиес' },
    ]
    }
  },
  async asyncData({store, params}) {
    const post = await store.dispatch('post/fetchById', params.id)
    await store.dispatch('post/addView', post)
    return {
      post: {...post, views: ++post.views}
    }
  },
  data () {
    return {
      canAddComent: true
    }
  },
  validate({params}) {
    return Boolean(params.id)
  },
  methods: {
    createCommentHandler(comment) {
      this.post.comments.unshift(comment)
      this.canAddComent = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .post {
    max-width: 600px;
    margin: 0 auto;
  }
  .post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }
  .post-image img {
    width: 100%;
    height: auto;
  }
  .post-header {
    margin-bottom: 1.5rem;
  }
  .post-content {
    margin-bottom: 2rem;
  }
</style>
