<template>
  <el-form
    class="page-wrap" 
    :model="controls"  
    :rules="rules" 
    ref="form"
    @submit.native.prevent="onSubmit"
  >
    <h1>Создать новый пост</h1>

    <el-form-item label="Название поста" prop="title" class="mb">
      <el-input
        v-model="controls.title"
      />
    </el-form-item>

    <el-form-item label="Текст в формате .md или .html" prop="text">
      <el-input
        type="textarea"
        v-model="controls.text"
        zesize="none"
        rows="10"
      />
    </el-form-item>

    <el-button class="mb" type="success" plain @click="previewDialog = true">Предпросмотр</el-button>

    <el-dialog
      title="Предпросмотр"
      :visible.sync="previewDialog"
    >
      <div :key="controls.text">
        <vue-markdown>{{controls.text}}</vue-markdown>
      </div>
    </el-dialog>

    <el-upload
      drag
      ref="upload"
      action="https://jsonplaceholder.typicode.com/posts/"
      :on-change="handleImageChange"
      :auto-upload="false"
      class="mb"
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">Перетащите картинку или <em>нажмите</em></div>
      <div class="el-upload__tip" slot="tip">Файлы с расширением jpg/png 500kb</div>
    </el-upload>

    <el-form-item>
      <el-button 
        type="primary"
        round
        native-type="submit"
        :loading="loading"
      >Создать пост 
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: "admin",
  middleware: ['admin-auth'],
  head : {
    title: `Новый пост | ${process.env.appName}`
  },
  data () {
    return {
      image: null,
      loading: false,
      previewDialog: false,
      controls: {
        title: '',
        text: ''
      },
      rules: {
        text: [
          { required: true, message: 'Введите тест', trigger: 'blur' }
        ],
        title: [
          { required: true, message: 'Введите название поста', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    handleImageChange (file, fileList) {
      this.image = file.raw
    },
    onSubmit () {
      this.$refs.form.validate (async valid => {
        if (valid && this.image) {
          this.loading = true

          const formData = {
            title: this.controls.title,
            text: this.controls.text,
            image: this.image
          }

          try {
            await this.$store.dispatch('post/create', formData)
            this.controls.title = ''
            this.controls.text = ''
            this.image = null
            this.$refs.upload.clearFiles()
            this.$message.success('Пост создан успешно')
          } catch (error) {}
          finally {
            this.loading = false
          }
        } else {
          this.$message.warning('Форма не валидна')
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .page-wrap {
    width: 600px;
  }
</style>
